img{
    border-radius: 100%;
    width: 100%;
}

body{
    background-image: url(/Web101_MyPort/Images/background.webp);
}








.container {  
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: .5fr 0.5fr 1.8fr 0.5fr 1fr;
    gap: 0px 80px;
    grid-auto-flow: row;
    grid-template-areas:
      "image name"
      "title aboutme"
      "contact skills"
      ". ."
      ". .";
  }
  
  /* .image { 
    grid-area: image; 
} */
  
  .title { 
    grid-area: title; 
    color: white;
    font-size: 25px;
}
  
  .contact { 
    grid-area: contact;
    /* text-align: center; */
    background-color: rgba(77, 64, 87, 0.37);
}

.phone {
    width: 50px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.location {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}  

.email {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.linkedin {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}
  .name { 
    grid-area: name;
    font-size: 50px;
    color: aliceblue; 
}
  
  .aboutme { 
    grid-area: aboutme;
    color: white; 
}
  
  .skills { grid-area: skills; }
  
  /* Need to catch employers eye */