body{
    background-image: url(./Images/background.webp);
}

.container {  
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: .5fr 0.5fr 1.8fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image . name"
      "title . aboutme"
      "contact . skills"
      ". . ."
      ". . .";
  }

  .profileImage{
    margin-left: 115px;
    border-radius: 100%;
    width: 60%;   
}

.img{
  border-radius: 100%;
  width: 60%;
}
  
  .title { 
    grid-area: title; 
    color: white;
    font-size: 25px;
}
  
  .contact { 
    grid-area: contact;
    /* text-align: center; */
    background-color: rgba(77, 64, 87, 0.37);
}

.phone {
    width: 50px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.location {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}  

.email {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.linkedin {
    width: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
}
  .name { 
    grid-area: name;
    font-size: 50px;
    color: aliceblue;
}

.fName{
  margin-bottom: 10px;
}

.lName{
  margin-left: 120px;
  margin-top: 10px;
  
}
  
.aboutme { 
    grid-area: aboutme;
    color: white; 
}
  
.skills { 
    grid-area: skills;
    font-size: 200%;
    color: white; 
  }

#skills{
    font-size: 70%;
  }
  
#aboutme{
    font-size: 150%;
  }

  /* website isnt working correctly, testing github */